body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

nav ul li{
    margin-bottom: 2px;
}
nav ul li a{
    display: block;
    background: #337ab7;
    color: #ffffff;
    font-size: 22px;
    padding: 12px 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

nav ul li a:hover {
    text-decoration: none;
    background: gray;
    color: #ffffff;
}


